.logo_txt {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.container {
    display: flex;
   /* Otherwise the clickable area for the Logo is to wide */
    width: fit-content;
    cursor: pointer;
}

.img {
    height: 40px
}

.subtitle {
    color: #360b2e;
    word-wrap: break-word;
    font-weight: lighter;
}