.button{
    background-color: white;
    color: #dc38a9;
    border-radius: 50px;
    font-weight: bold;
    width: 180px;
    height: 50px;
    border-color: #dc38a9;
}
.button:hover{
    background-color: #fc95d9;
    border-color: #dc38a9;
    color: #360b2e;
}

button:disabled,
button[disabled]{
    border: 1px solid #360b2e;
    background-color: #cccccc;
    color: #666666;
}